.carousel .carousel-item {
    height: 400px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    min-height: 400px;
}

.carousel-control-next,
.carousel-control-prev {
    border: 0;
}

.carousel-caption {
    color: black;
}