body {
    font-family: 'Lora', serif;
}

.star {
    color: #FFDF00;
}

.input-group {
    width: 120px;
}

h4 {
    overflow: hidden;
    text-align: center;
}

h4:before {
    background-color: rgb(87, 87, 87);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 80%;
}

h4:after {
    background-color: rgb(87, 87, 87);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

h4:before {
    right: 0.5em;
    margin-left: -50%;
}

h4:after {
    left: 0.5em;
    margin-right: -50%;
}

#hr1 {
    background-color: rgb(87, 87, 87);
}