#sidepane {
    background-color: #f0f0f0;

}

#sortButton {
    width: 100px;

}


body {
    font-family: 'Lora', serif;
}

.star {
    color: #FFDF00;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.nav2 {
    background-color: #f0f0f0;

}